body {
	background: #220118;
	padding: 0 24px;
	color: rgb(243, 167, 211); /* Change my color to yellow */
	margin: 0;
	height: 100vh;
	display: flex;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
